[link text](https://)

Import libraries

In [ ]:
import numpy as np
import pandas as pd
from  sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

Data Preprocessing

In [ ]:
#load the dataset to pandas dataframe
raw_mail_data = pd.read_csv('spam.csv',encoding=('ISO-8859-1'),low_memory =False)
mail_data = raw_mail_data.where((pd.notnull(raw_mail_data)), '')

In [ ]:
mail_data.shape

(5572, 5)

In [ ]:
mail_data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",,,
1,ham,Ok lar... Joking wif u oni...,,,
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,,,
3,ham,U dun say so early hor... U c already then say...,,,
4,ham,"Nah I don't think he goes to usf, he lives aro...",,,

In [ ]:
#label spam mail as 0 ; non spam mail as 1.
mail_data.loc[mail_data['v1']== 'spam','v1',] = 0
mail_data.loc[mail_data['v1']== 'ham','v1',] = 1

In [ ]:
mail_data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,1,"Go until jurong point, crazy.. Available only ...",,,
1,1,Ok lar... Joking wif u oni...,,,
2,0,Free entry in 2 a wkly comp to win FA Cup fina...,,,
3,1,U dun say so early hor... U c already then say...,,,
4,1,"Nah I don't think he goes to usf, he lives aro...",,,

seperate the data as text and label .X --> text;Y -->label.

In [ ]:
X = mail_data['v2']
Y = mail_data['v1']

In [ ]:
print(X)
print('...........')
print(Y)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will ÃŒ_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: v2, Length: 5572, dtype: object
...........
0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: v1, Length: 5572, dtype: object

Train Test Split

In [ ]:
# split the data as train data and test data
X_train, X_test,Y_train,Y_test = train_test_split(X ,Y ,train_size=0.8, test_size=0.2,random_state=3)

Feature Extraction

In [ ]:
# transform the text data to feature vectors that can be used as input to  the SVM model using TfidfVectorizer
# convert the text to lower case letters
feature_extraction = TfidfVectorizer(min_df=1 , stop_words='english',lowercase='True')
X_train_features = feature_extraction.fit_transform(X_train)
X_test_features = feature_extraction.transform(X_test)

#convert Y_train and Y_test values as integers
Y_train = Y_train.astype('int')
Y_test = Y_test.astype('int')

Training the model --> Support vector Machine

In [ ]:
#training the suppport vector machine model with training data
model = LinearSVC()
model.fit(X_train_features,Y_train)

LinearSVC()

# prediction on training data

In [ ]:
prediction_on_training_data = model.predict(X_train_features)
accuracy_on_training_data = accuracy_score(Y_train,prediction_on_training_data)

In [ ]:
print('Accuracy_on_Training_data :' , accuracy_on_training_data)

Accuracy_on_Training_data : 0.9995512676688355

In [ ]:
#prediction on test data
prediction_on_test_data = model.predict(X_test_features)
accuracy_on_test_data = accuracy_score(Y_test,prediction_on_test_data)

In [ ]:
print("Accuracy on test data:" , accuracy_on_test_data)

Accuracy on test data: 0.9856502242152466

Prediction on new mail

In [ ]:
input_mail = ["Hello Harsha, We recently invited you to participate in this survey but it seems you haven't been able to begin it yet. There is still time and we still need a number of opinions so please take part today and we'll thank you with 2,000 Points."]
# convert text to feature vectors
input_mail_features = feature_extraction.transform(input_mail)

#making prediction
prediction = model.predict(input_mail_features)
print(prediction)

if(prediction[0]==1):
  print('HAM mail')
else:
  print('Spam mail')

[1]
HAM mail